# =========================
# Byte-compiled / cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# C extensions
# =========================
*.so
.ruff_cache/

# =========================
# Distribution / packaging
# =========================
.Python
build/
dist/
develop-eggs/
eggs/
.eggs/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs / Editors
# =========================
.idea/
.vscode/

# =========================
# OS / system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Project-specific artifacts
# =========================
attic/
scripts/
*.png
.pre-commit-config.yaml

OffAxisHolo_projectStructure_18052026.txt

Notes_guteHandhabung.txt